
.img-footer{
  width: 45%;
  margin: 20px;
}

.row{
  max-width: 1355px;
  margin: auto;
}
.text{
    text-decoration: none;
    font-size:  15px;
    color: black;
  }


  .list-unstyled li  {
    padding: 15px 15px ;
  }

  .text:hover  {
    color: #65D932;
  }





.Footer-contenedor{
  margin: 0px;
  padding: 0px;
}
.footer{
margin-top: 40px;
margin: auto;
align-items: center;
text-align: center;
width: 100%;

}



.Contenedor-padre{
  display: flex;
  align-items: center;
  text-align: center;
  margin: 30px 30px;
  width: 80%;
  padding: 0px;
  

}

.Contenedor-hijo{
  width: 50%;
margin: 20px 10px;
margin-left: 30px;

 
}

.footer p {
	color: white;
}


@media screen and (max-width: 769px) {

.img-footer{
  width: 100%;
  margin: 20px;
}
			
}

.Redes-footer{
background-color: #1B48BF;
}


.Redes-footer  .icon{
  position: relative; relative;
  background-color:#ffffff ;
  border-radius: 50%;
  margin: 10px 10px;
  width: 80px;
  height: 50px 50px;
  line-height: 50px;
  font-size: 22px;
  display: inline-block;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #333;
  text-decoration: none;
	text-align: left;
}
.Redes-footer .toolti{
  position: absolute;
  top: 0;
  line-height: 1.5;
  font-size: 14px;-size: 14px;
  background-color: #ffffff;
  color: #ffffff;: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.Redes-footer .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.Redes-footer .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.Redes-footer .icon:hover span,
.Redes-footer.icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.Redes-footer .facebook:hover,
.Redes-footer .facebook:hover .tooltip,
.Redes-footerr .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}
.Redes-footer .twitter:hover,
.Redes-footer .twitter:hover .tooltip,
.Redes-footer .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}
.Redes-footer.instagram:hover,
.Redes-footer .instagram:hover .tooltip,
.Redes-footer .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}
.Redes-footer .github:hover,
.Redes-footer .github:hover .tooltip,
.Redes-footer .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}
.Redes-footer .youtube:hover,
.Redes-footer .youtube:hover .tooltip,
.Redes-footer .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;

	
