

.row{
  max-width: 1355px;
}
.text{
    text-decoration: none;
    font-size:  15px;
    color: black;
  }


  .list-unstyled li  {
    padding: 15px 15px ;
  }

  .text:hover  {
    color: #65D932;
  }


.buttons-Redes {
    margin: 10px 15px;
    margin-top: 15x;
  min-width: 700px;
  display: flex;
  justify-content: space-around;
}

.buttons-Redes a {
  text-decoration: none;
  font-size: 28px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #314652;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  transition: all .4s ease-in-out;
}

.buttons-Redes a:hover {
  transform: scale(1.2);
}

.img-footer{
  width: 45%;
  margin: 20px;
}

.footer{
  color: write;
}
