
header{
  max-width: 1500px;
  align-items: center;
  background: #104274;

}

.Container02{
  white-space: nowrap;
  margin: 0px;
  padding: 0px;
 position: relative;
 overflow: hidden;
}

.image-list img{
  margin: 25px;
  object-fit: cover;
  width: calc(85% / 4);
  user-select: none;
}


.control {
 margin: 10px;
  height: 44px;
  width: 44px;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: none;
  border-radius: 50%;
  transform: translateY(-459%);


}

.Container02 i:active{
  transform: translateY(-50%) scale(0.9);
}

.Container02 i:first-child{
  left: -40px;
  display: none;
}
.Container02 i:last-child{
  right: -10px;
}



/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
  .Container02 i {
    display: none !important;
  }

  .Container02 .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }

  .Container02 .image-list  {
    width: 280px;
    height: 380px;
  }

  .Container02 {
    width: 20%;
  }
}
