
header{
  max-width: 1500px;
  align-items: center;
  background: #104274;

}


.image-list img{
  margin: 25px;
  object-fit: cover;
  width: calc(85% / 4);
  user-select: none;
}





/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
  .Container02 i {
    display: none !important;
  }

  .Container02 .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }

  .Container02 .image-list  {
    width: 280px;
    height: 380px;
  }

  .Container02 {
    width: 20%;
  }
}
