

#Menu{
    background-color: #104274;
    margin: 0px;
    padding: 0px;
    
}

.Texto{
    color: white;
    font-size: xx-large;
}


#navbarDropdownMenuLink{
    color: 
    rgb(255, 255, 255);
    background-color: #104274;

}

#navbarDropdownMenuLink:hover{
color: #65D932;
    
}

#Enlace {
    color: rgb(255, 255, 255);
}

#Enlace:hover {
    color: #65D932;
      background-color: #104274;
}

.logo{
   
   margin: 4%;
   width: 85%;
   
}
