

#Menu{
    background-color: #104274;
    margin: 0px;
    padding: 0px;
    
}

.Texto{
    color: white;
    font-size: xx-large;
}


#navbarDropdownMenuLink{
    color: 
    rgb(255, 255, 255);
    background-color: #104274;

}

#navbarDropdownMenuLink:hover{
color: #104274;
}

#Enlace {
    color: 
     rgb(255, 255, 255);
}
