
  .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
.gallery{
	padding: 15px 0;
	align-items: center;
}
.container-lg{
	text-align: center;
	
}
.gallery img{
	background-color: rgba(0, 0, 0, 0.05);
	padding: 0px;
	width: 95%;
	border-radius: 30px;
	text-align: center;
	
	
}
.gallery img:hover{
	box-shadow: 0 0 20px rgba(5, 5, 5, 0.953);
	cursor: pointer;
}


.Titulo{
color: black;
font-size: 18px;

text-align: center;
padding: 20px;
font-family: Arial, Helvetica, sans-serif;
}


.img-enlace {
	height: 95%;
	width: 100%;
	
}

#Gallery-2{
	background-color:#104274;

	padding: 15px 0;
	
}

	  @media screen and (max-width: 769px) {
		.gallery img {
			width: 70%;
			
	  }
	}


.row{
	background-color: #104274f1;
	margin: 30px 25px;
	width: 10%;
	text-align: center;
	
}
