img{
	max-width: 100%;
	padding: 0px;
}
.gallery{
	background-color: white;
	padding: 20px 0;
	align-items: center;
}
.container-lg{
	text-align: center;
	
}
.gallery img{
	background-color: #ffffff;
	padding: 0px;
	
	width: 95%;
	border-radius: 15px;
	text-align: center;
	
	
}
.gallery img:hover{
	box-shadow: 0 0 20px rgba(5, 5, 5, 0.953);
	cursor: pointer;
}


.Titulo{
color: black;
font-size: x-large;
text-align: center;
padding: 3%;
}

.Titulo-enlace{
color: white;
font-size: x-large;
text-align: center;
padding: 3%;
}
.img-enlace {
	height: 80%;
	width: 100%;
	
}

#Gallery-2{
	background-color:#104274;
}
